{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>
            Lorem ipsum dolor sit amet.
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, quia. Suscipit veniam sint consectetur quae rerum corporis possimus placeat, necessitatibus quasi repudiandae deleniti iusto maiores ipsam, quis ipsum soluta odit praesentium doloribus distinctio, pariatur natus! Tempora, natus, quisquam eligendi amet quos perspiciatis ipsa, ex sunt nisi voluptatem eaque omnis unde.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/img.png" class="img-thumbnail">
    </div>

</div>